/*!
 * L 
 */
/*! nor  */
 
body {
  padding-top: 70px;
  padding-bottom: 50px;
  font-size: 20px; 
  
}  
body {
    background-color: 	  #0d0d09;   
	COLOR:  #ffd9b3 /*The color of all the other text within the body of the page*/
}
.jumbotron {
  margin-bottom: 0px;
  padding: 2px;
  height: 100%;
  //height: 220px;
  color: white;
  //background:transparent;
   background: #1d1d19;
  background-image:url(../img/moon.jpg);
  display: block;
  background-size:cover;
  width: 100%;
  background-size:  100%   100%;  
  

}
 
.panel > .panel-heading  .panel-body{
    background-image: none;
    background-color: #1d1d19;
    color: white;

}
 
#myCarousel .nav a small {
    display:block;
}
#myCarousel .nav {
	background:#eee;
}
#myCarousel .nav a {
    border-radius:0px;
}

.badge {
  padding: 2px 9px 2px;
  font-size: 17px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: #0000cc;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}


 .nav-tabs { 
     border-bottom: 2px solid #DDD;
  }
 .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	 border-width: 0;
  }
 .nav-tabs > li > a {
	 border: none; color: #666; 
 }
 .nav-tabs > li.active > a, .nav-tabs > li > a:hover {
	 border: none; color: #4285F4 !important; background: transparent; 
 }
 .nav-tabs > li > a::after { 
  content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); 
  }
 .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { 
    transform: scale(1);
	}
.tab-nav > li > a::after { 
    background: #21527d none repeat scroll 0% 0%; color: #fff; 
	}
.tab-pane { 
padding: 15px 0;
 }
.tab-content{
	padding:20px
	}

.card {
	background:  #020d19 none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); margin-bottom: 30px; 
 }
 
  
 
 
 
  