 
body
{
	font-family:arial;
	font-size:15px;
	line-height:1.6em;
	 
};

li{
 list-style: none

};

a{
 text-decoration: none;

}
/* Container Border */
.container
{
	width:60%;
	margin:0  auto;
	overflow:auto;
} 

header  {
	 
	border-bottom:3px solid #F4F422;
}

footer{
	
	border-top: 3px solid #F4F422;
	text-align: center;
	padding-top: 5px;
}
  

main{
	padding-bottom: 20px;
}	
a.start {
	display: inline-block;
	color: #666;
	background: #f4f4f4;
	border:1px dotted #ccc;
	padding 6px 13px;
}

@media only screens  and 	(max-width: 760px){
	input input[type='text']{
		width:98%;
	}
		
}
